.table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 25px 25px 50px 50px;
  overflow: hidden;
  border-top: 0;
}
.table thead th {
  background-color: transparent !important;
  border-top: 1px solid #ff0075 !important;
  border-bottom: 1px solid #ff0075 !important;
  padding: 14px 5px !important;
}
.table thead th:first-of-type {
  border-radius: 50px 0 0 50px !important;
  padding-left: 20px !important;
  border-left: 1px solid #ff0075;
}
.table thead th:last-of-type {
  border-radius: 0 50px 50px 0 !important;
  padding-right: 20px !important;
  border-right: 1px solid #ff0075;
}
.table tr td {
  border-bottom: 1px solid #ccc !important;
  color: #777777;
}
.pagination {
  justify-content: center !important;
}
.pagination li {
  border: none !important;
  border-radius: 0 !important;
  border-top: 2px solid transparent !important;
}

.pagination .ant-pagination-item-active {
  border-top: 2px solid #ff0075 !important;
}
.pagination .ant-pagination-item-active a {
  color: #ff0075 !important;
}
