@tailwind base;
@tailwind components;
@tailwind utilities;

.custome-bar::-webkit-scrollbar {
  width: 4px;
}
.custome-bar::-webkit-scrollbar-track {
  background: transparent;
}
.custome-bar::-webkit-scrollbar-thumb {
  background: red;
  width: 4px;
  border-radius: 50px;
}

.custome-bar-form::-webkit-scrollbar {
  display: none;
}
.link {
  @apply py-2 px-3 cursor-pointer font-medium text-sm text-slate-900;
}
.active-link {
  @apply py-2 px-3 rounded-full border border-main font-medium text-sm text-main cursor-pointer;
}
